/*  your css code here. If applicable */
:root {
	background-color: rgb(135, 206, 235);
}

body {
	font-family: sans-serif; /* Matching the font in your image */
}

article p:first-child {
	color: white;
	background-color: black;
	padding: 5px;
}

article p:nth-child(2) {
	color: initial;
}

article p:last-child {
	color: red;
}

ul {
	list-style-type: disc;
}

ul li {
	background-color: gray;
	width: 50%;
	padding: 10px;
	margin-bottom: 2px;
}

/* Every odd item is white */
ul li:nth-child(odd) {
	background-color: white;
}

/* First and Last items: Font size 22px */
ul li:first-child, 
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item: Pink background */
/* Placed after nth-child(odd) to ensure Pink overrides White for the 3rd item */
ul li:nth-last-child(3) {
    background-color: pink;
}